PORT=5005
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/kranhub-dev

TOKEN_SECRET=S3CR3T

FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=http://localhost:5173,http://localhost:5174,https://kranhub.netlify.app

ALLOW_REMOTE_SEED=false